<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class = 'navbar-brand .disabled' href="#">Password Generator</a>
    <nav>
      <div class="navbar-nav">
        <a class="nav-item nav-link text-warning" href="{%url 'home'%}">Home</a>
      </div>
    </nav>
</nav>

<br>

<h1>About</h1>
<p>This webpage was made by Elie Francois</p>
